body {
    margin: 0%;
}
.cabecera {
    width: 100%;
    background-color: rgba(119, 65, 2, 0.308);
    display: flex;
    justify-content: space-between;
}
.cabecera > .contenido {
    padding: 1%;
}
.temas {
    display: flex;
   
    
    
}
.temas .contenido {
    background-color: rgba(7, 175, 175, 0.137);
    width: 33%;
    margin: 2%;
    border-radius: 50px;
    height: auto;
    border-style: solid;
    
}
.temas .contenido h2 {
    text-align: center;
    background-color: rgb(237, 241, 241);
    width: 100%;
    border-radius: 50px;
    border-style: solid;
    height: 100px;

}
.titulos {
    display: flex;
    
}

.titulohtml {
    margin: 2%;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(237, 241, 241);
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size:xx-large
}

.titulocss {
    margin: 2%;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(176, 218, 192);
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size:xx-large
}

.titulojavascript{
    margin: 2%;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(149, 229, 229);
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size:xx-large
}