* {
    margin: 0;
    padding: 0;
}

body {
background-color: rgb(235, 223, 225);
color: black;

}

.cabecera {
    width: 100%;
    background-color: rgba(119, 65, 2, 0.308);
    display: flex;
    justify-content: space-between;
}
.cabecera > .contenidos {
    padding: 1%;
}

/* Contenedor basico creacion */
.contenedor {
    width: 90%;
    margin: auto;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    align-items: stretch;
    justify-items: stretch;
    margin-top: 100px;
}

/* Contenedor css grid */
.contenedor { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-gap: 50px
    
}

.contenedor > div{
    display: block;
    padding: 0px;
    color: black;
    
}
.contenedor .htmltitulo{
    background-color:  rgb(196, 204, 204);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(110, 114, 114);
    
}
a{
   color: black;
    text-decoration: none;
}
.btn {
    border: none; 
    border-radius: 20px;
    color: rgb(0, 0, 0); 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  .btn-block{
    width: 100%;
    display: block;
    border-radius: 20px;
  }
.html {background-color: rgb(196, 204, 204)} 
.html:hover {background: rgb(240, 243, 243)}
.css {background-color: rgb(176, 218, 192)} 
.css:hover {background:rgb(6, 223, 89);}
.javascript {background-color: rgb(149, 229, 229)} 
.javascript:hover {background:rgb(16, 233, 233);}
.extra {background-color: rgb(223, 203, 224)} 
.extra:hover {background:rgb(216, 64, 224);}

.titulos {
    justify-content: center;
    font-size: 80px;
    font-weight:900;
    padding: 0;
}
.titulosreducido{
    justify-content: center;
    margin-top: 10px;
    font-size: 60px;
    font-weight:900; 
    height:100px;
    text-align: center;
}
.subtitulos {
    justify-content: center;
    margin-top: 10px;
    font-size: 60px;
    font-weight:300; 
    height:100px;
    text-align: center;
}
.contenedor .csstitulo{
    background-color: rgb(176, 218, 192);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(109, 133, 118);
    
}
.csstitulo > h2 {
    justify-content: center;
    margin-top: 35px;
    font-size: 80px;
    font-weight:900;
}
.contenedor .javascripttitulo{
    background-color: rgb(149, 229, 229);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(91, 136, 136);
    
}
.javascripttitulo > h2 {
    justify-content: center;
    margin-top: 35px;
    font-size:60px;
    font-weight:900;
}
.contenedor .extratitulo{
    background-color: rgb(223, 203, 224);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(140, 129, 141);
    
}
.conclusionstitulo > h2 {
    justify-content: center;
    margin-top: 35px;
    font-size:80px;
    font-weight:900;
}