body {
    margin: 0%;
}
.cabecera {
    width: 100%;
    background-color: rgba(119, 65, 2, 0.308);
    display: flex;
    justify-content: space-between;
}
.cabecera > .contenido {
    padding: 1%;
}
.temas {
    display: flex;
    width: 100%;
    border-radius: 50px;
}
.temas .contenido {
    background-color: blue;
    width: 50%;
    margin: 1%;
    
}
.temas .contenido h2 {
    text-align: center;
    margin: 0%;
    background-color: aqua;
    width: 100%;
}
.titulos {
    display: flex;
    
}

.titulohtml {
    margin: 2%;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(237, 241, 241);
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size:xx-large
}

.titulocss {
    margin: 2%;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(124, 224, 162);
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size:xx-large
}

.titulojavascript{
    margin: 2%;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(149, 229, 229);
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size:xx-large
}